@use "../../../../../styles/mixins/mixins.scss" as mx;

section.blog {
  padding: mx.rem(100) 0;
  background-color: rgba(195, 195, 195, 0.1);

  @include mx.b(tablet) {
    padding: mx.rem(50) 0;
    border-radius: mx.rem(50);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: mx.rem(25);

    @include mx.b(desktop) {
      grid-gap: mx.rem(15);
    }

    @include mx.b(tablet) {
      grid-template-columns: 1fr 1fr;
      grid-gap: mx.rem(10);
    }

    @include mx.b(mobile) {
      grid-template-columns: 1fr;
      grid-gap: mx.rem(5);
    }

    .landscape {
      grid-column-end: span 2;

      @include mx.b(tablet) {
        grid-column-end: span 1;
      }
    }
  }

  .head-section {
    @include mx.b(tablet) {
      grid-column-end: span 2;
    }

    @include mx.b(mobile) {
      grid-column-end: span 1;
    }
  }
}
