<header>
  <div class="container">
    <span class="btn ic-menu fz-md" id="menu-bars" data-menu="show"></span>
    <div class="header">
      <a
        class="fl-cc fl-dc ic-amaryfilo t-main t-gr fw-800"
        d-text="Amary Filo"
        routerLink="/"
      ></a>
      <nav class="fl">
        <!-- <a class="btn m" title="Open About page" routerLink="/about">About</a> -->
        <a class="btn m" title="Open About page" routerLinkWithLang="about"
          >About</a
        >
        <a class="btn m" title="Open Design page" routerLinkWithLang="designs"
          >Design</a
        >
        <a
          class="btn m"
          title="Open Projects page"
          routerLinkWithLang="projects"
          >Projects</a
        >
        <a
          class="btn m"
          title="Open Solutions page"
          routerLinkWithLang="solutions"
          >Solutions</a
        >
        <a class="btn m" title="Open Sandbox page" routerLinkWithLang="sandbox"
          >Sandbox</a
        >
      </nav>
      <div class="fl header-btns">
        <div class="fl">
          <span class="m btn ic-globe t" id="lang" data-modal="modal-lang"
            >EN</span
          ><span
            class="m btn ic-moon"
            id="theme-color"
            data-theme="light"
          ></span>
        </div>
      </div>
    </div>
  </div>
</header>
