<section class="sc development cl-development">
  <div class="container head-section fl-cc fl-dc">
    <h2 class="title ls-2 t-gr ls t-u cl-g-development">Development</h2>
    <p class="text op-7 ls fw-b">
      For six years, I have been developing applications and sites of various
      difficulties from landing pages to blockchain and web services.
    </p>
  </div>
  <div class="container">
    <div class="content">
      <div class="info fl-bc fl-dc">
        <div class="head-title fl-cb cl-g-bluepurple">
          <span class="btn ic-hash fill t-cw" title="Main"></span>
          <h2 class="title ls-2 t-gr">Main</h2>
        </div>
        <p class="text op-7">
          The main field of development of web and mobile programming solutions
          is concentrated in the Frient direction.
        </p>
      </div>
      <div class="cards">
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">Web</h3>
          <p class="text op-7">
            Sites, platforms and services on JavaScript or CMS.
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">Blockchain</h3>
          <p class="text op-7">
            Connection of users with blockchain through services.
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">Mobile</h3>
          <p class="text op-7">
            Solutions for creating iOS and Android applications.
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">Extensions</h3>
          <p class="text op-7">
            Development of different open-source solutions.
          </p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="cards">
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">Layout</h3>
          <p class="text op-7">
            Fast and high-quality layout of the design sites.
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">Optimization</h3>
          <p class="text op-7">
            Increase in the speed of loading pages and content.
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">CEO</h3>
          <p class="text op-7">
            Search optimization of the site and pages for requests.
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">Design</h3>
          <p class="text op-7">Development of simple mobile and web designs.</p>
        </div>
      </div>
      <div class="info fl-bc fl-dc">
        <div class="head-title fl-cb cl-g-purplepink">
          <span class="btn ic-hash fill t-cw" title="Additional"></span>
          <h2 class="title ls-2 t-gr">Additional</h2>
        </div>
        <p class="text op-7">
          Areas of development that indirectly or directly accompany my
          implementations in projects.
        </p>
      </div>
    </div>
  </div>
  <app-areas />
</section>
