<section class="sc development cl-development">
  <div class="container head-section fl-cc fl-dc">
    <h2 class="title ls-2 t-gr ls t-u cl-g-development">
      {{ "page.home.development.title" | t }}
    </h2>
    <p class="text op-7 ls fw-b">
      {{ "page.home.development.description" | t }}
    </p>
  </div>
  <div class="container">
    <div class="content">
      <div class="info fl-bc fl-dc">
        <div class="head-title fl-cb cl-g-bluepurple">
          <span
            class="btn ic-hash fill t-cw"
            [title]="'page.home.development.one.title' | t"
          ></span>
          <h2 class="title ls-2 t-gr">
            {{ "page.home.development.one.title" | t }}
          </h2>
        </div>
        <p class="text op-7">
          {{ "page.home.development.one.description" | t }}
        </p>
      </div>
      <div class="cards">
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.one.item.one.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.one.item.one.description" | t }}
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.one.item.two.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.one.item.two.description" | t }}
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.one.item.three.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.one.item.three.description" | t }}
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.one.item.four.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.one.item.four.description" | t }}
          </p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="cards">
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.two.item.one.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.two.item.two.description" | t }}
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.two.item.two.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.two.item.two.description" | t }}
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.two.item.three.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.two.item.three.description" | t }}
          </p>
        </div>
        <div class="cd cd-base fl-bc fl-dc">
          <h3 class="title fz-nm">
            {{ "page.home.development.two.item.four.title" | t }}
          </h3>
          <p class="text op-7">
            {{ "page.home.development.two.item.four.description" | t }}
          </p>
        </div>
      </div>
      <div class="info fl-bc fl-dc">
        <div class="head-title fl-cb cl-g-purplepink">
          <span
            class="btn ic-hash fill t-cw"
            [title]="'page.home.development.two.title' | t"
          ></span>
          <h2 class="title ls-2 t-gr">
            {{ "page.home.development.two.title" | t }}
          </h2>
        </div>
        <p class="text op-7">
          {{ "page.home.development.two.description" | t }}
        </p>
      </div>
    </div>
  </div>
  <app-areas />
</section>
