@use "../mixins/mixins" as mx;

.btn-pad {
  border: none;
  border-radius: var(--btn-pad-bdr, mx.rem(30)) !important;

  @include mx.b(tablet) {
    max-width: 100% !important;
    grid-column-end: span 2;

    margin-top: mx.rem(30);
    padding: mx.rem(13);

    border-radius: mx.rem(10) !important;
  }

  @include mx.b(mobile) {
    grid-column-end: span 1;
  }

  .title {
    @include mx.b(tablet) {
      font-size: mx.rem(18);
    }

    &:before {
      margin: 0 0 mx.rem(25) 0;
      font-size: mx.rem(35);

      @include mx.b(tablet) {
        display: none;
      }
    }
  }
}

.btn {
  --btn-text-color: var(--text-color-rgb);
  --btn-bgc-rgb: var(--cl-main-rgb, 140, 140, 140);
  --btn-bgc-opacity: 0.15;
  --btn-bgc-opacity-hover: 0.25;
  --btn-bgc-opacity-active: 0.2;

  font-family: var(--btn-f, ("Nunito", sans-serif));
  font-size: var(--btn-fz, mx.rem(14));
  font-weight: var(--btn-fw, normal);
  line-height: var(--btn-lh, 1);

  padding: var(--btn-padding, (mx.rem(6) mx.rem(18)));
  border-radius: var(--btn-border-radius, mx.rem(7));
  overflow: hidden;

  border: mx.rem(2) solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;

  color: rgba(var(--btn-text-color), 1);

  &:active {
    border-radius: var(--btn-border-radius-active, mx.rem(9));
  }
  &:disabled,
  &.disabled {
    cursor: default;
  }
  &[class*="cl-g-"],
  &.g-bg {
    --btn-text-color: 255, 255, 255;
  }

  &:not([class*="cl-g-"]) {
    background-color: rgba(var(--btn-bgc-rgb), var(--btn-bgc-opacity));
    &:hover {
      background-color: rgba(var(--btn-bgc-rgb), var(--btn-bgc-opacity-hover));
    }
    &:active {
      background-color: rgba(var(--btn-bgc-rgb), var(--btn-bgc-opacity-active));
    }
  }

  &.w {
    &-100 {
      width: 100%;
    }
    &-base {
      max-width: mx.rem(300);
      width: 100%;
    }
  }

  &.fill {
    --btn-bgc-opacity: 1;
    --btn-bgc-opacity-hover: 0.9;
    --btn-bgc-opacity-active: 0.95;
  }

  &.active-nav {
    @extend .fill;
    // @extend .cl-cmain;
    color: #fff;

    @include mx.theme("dark", true) {
      // @extend .cl-caccent;
      color: #000;
    }
  }

  &[class*="ic-"] {
    padding: var(--btn-padding-icon, mx.rem(8));
    line-height: 1;

    &::before {
      margin: 0;
    }

    &.t {
      &::before {
        margin-right: mx.rem(7);
      }
    }
  }

  // Buttons custom
  // &-pad {
  //   border: none;
  //   border-radius: var(--btn-pad-bdr, mx.rem(30)) !important;

  //   @include mx.b(tablet) {
  //     max-width: 100% !important;
  //     grid-column-end: span 2;

  //     margin-top: mx.rem(30);
  //     padding: mx.rem(13);

  //     border-radius: mx.rem(10) !important;
  //   }

  //   @include mx.b(mobile) { grid-column-end: span 1; }

  //   .title {
  //     @include mx.b(tablet) { font-size: mx.rem(18); }

  //     &:before {
  //       margin: 0 0 mx.rem(25) 0;
  //       font-size: mx.rem(35);

  //       @include mx.b(tablet) { display: none; }
  //     }
  //   }
  // }

  // &[class*=cl-] {
  //   @include mx.theme('dark', true) {
  //     color: rgba(var(--btn-text-color), 1);
  //     &[class*=cl-g-], &.g-bg { color: white; }
  //   }
  // }

  // @include mx.theme('dark', true) {
  //   color: rgba(var(--btn-text-color), 1);
  // }
}
