<div class="sandbox-ui">
  <div class="row-b">
    <sbx-balances-component />
  </div>
  <div class="row-text">
    <h2 class="h1">Liquidity</h2>
    <p class="text text-secondary">
      This section shows how liquidity pools work in DEX. Here you can add
      tokens to a pool to earn fees, remove them anytime, and see your share in
      real time. By providing liquidity, you become part of the AMM, enabling
      swaps between tokens like AST/APT and AST/WETH.
    </p>
  </div>

  <!-- Common Information -->
  <sbx-row-title-content
    main-title="Common Information"
    text="Everything about Tokens and Contracts"
    [useStatus]="false"
  >
    <div class="row-line row-sbc row-b">
      <sbx-accordion-component
        [title]="'What is Pairs?'"
        [text]="'Understands AST/APT and AST/WETH'"
      >
        <div class="text-secondary" accordionContent>
          Each pair represents a liquidity pool of two tokens that users can
          swap between — like AST/APT or AST/WETH.
          <br />
          When you add liquidity to a pair, you receive LP tokens that represent
          your share in that pool.
          <br />
          <br />
          <b>Tokens from Pairs</b>
          <ul>
            <li>Pair AST/APT gives you LP/AA tokens.</li>
            <li>Pair AST/WETH gives you LP/AW tokens.</li>
          </ul>
        </div>
      </sbx-accordion-component>

      <div class="row-spacer"></div>

      <sbx-accordion-component
        [title]="'About form'"
        [text]="'How does this form works'"
        [bottomText]="'You can use LP/AA and LP/WA Tokens at the farming page.'"
      >
        <div class="text-secondary" accordionContent>
          Select Pair — choose which pool you want to interact with (AST/APT or
          AST/WETH).
          <br />
          <b>Pair Info:</b>
          <ul>
            <li>Reserves - shows the current pool size</li>
            <li>Total Supply - total LP tokens</li>
            <li>My LP - your share</li>
          </ul>
          <br />
          <b>Add Liquidity</b>
          <ol>
            <li>
              Token 1 / Token 2 - enter how much of each token you want to
              deposit.
            </li>
            <li>The form keeps the correct ratio automatically.</li>
            <li>
              After adding liquidity, you’ll receive LP tokens (like LP/AA or
              LP/AW) representing your share in the pool.
            </li>
          </ol>
          <br />
          <b>Remove Liquidity</b>
          <ul>
            <li>
              LP Token Input - enter how many LP tokens you want to withdraw.
            </li>
            <li>
              You’ll get back both tokens (AST + APT or AST + WETH) according to
              your pool share.
            </li>
          </ul>
          <br />
          <b>In Result:</b>
          <ul>
            <li>
              <b>Adding liquidity</b> = you provide tokens to help the swap
              system work and earn fees.
            </li>
            <li>
              <b>Removing liquidity</b> = you get your tokens back plus the
              small fee portion you’ve earned.
            </li>
          </ul>
        </div>
      </sbx-accordion-component>
    </div>
  </sbx-row-title-content>

  <!-- Form -->
  <sbx-row-title-content mainTitle="Form" text="Add Liquidity">
    <ui-liquidity-form />
  </sbx-row-title-content>
</div>
