<section class="sc projects">
  <div class="container cl-project">
    <div class="cards">
      @for (project of projects(); track $index) {
      <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc">
        <a
          class="link"
          [routerLinkWithLang]="['projects', project.slug]"
          [title]="'Open project ' + project.title"
        >
          <h2 class="title">{{ project.title }}</h2>
        </a>
        <p class="text t-ct op-7">
          {{ project.anonce }}
        </p>
        <a
          class="btn fill t-cw"
          [routerLinkWithLang]="['projects', project.slug]"
          [title]="'Open project ' + project.title"
        >
          View
        </a>
      </div>
      }
    </div>
    <div class="head-section fl-bc fl-dc hs-part">
      <h2 class="title ls-2 t-gr ls t-u cl-g-project">Projects</h2>
      <p class="text op-7 ls fw-b">
        Recent completed projects in the areas of blockchain, frontend and
        backend.
      </p>
      <a
        class="cl-g-project btn g-bg w-base g-a"
        [routerLinkWithLang]="['projects']"
        title="Open all projects"
      >
        View projects
      </a>
    </div>
  </div>
</section>
