<section class="sc projects">
  <div class="container cl-project">
    <div class="cards">
      <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc">
        <a
          class="link"
          href="#"
          title="Open project Rock’n’Block Website"
          target="_blank"
        >
          <h2 class="title">Rock’n’Block Website</h2>
        </a>
        <p class="text t-ct op-7">
          Corporate website with a variety of forms, landings and integrations.
        </p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open project Rock’n’Block Website"
          >View</a
        >
      </div>
      <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc">
        <a class="link" href="#" title="Open project Minto" target="_blank">
          <h2 class="title">Minto</h2>
        </a>
        <p class="text t-ct op-7">Platform for the exchange of BTCMT tokens.</p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open project Minto"
          >View</a
        >
      </div>
      <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc">
        <a
          class="link"
          href="#"
          title="Open project Ducatus Wallet"
          target="_blank"
        >
          <h2 class="title">Ducatus Wallet</h2>
        </a>
        <p class="text t-ct op-7">
          Crypto wallet (for web, iOS and android) for the Ducatus blockchain.
          Server side, API and integrations.
        </p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open project Ducatus Wallet"
          >View</a
        >
      </div>
      <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc">
        <a
          class="link"
          href="#"
          title="Open project AMFI Connect"
          target="_blank"
        >
          <h2 class="title">AMFI Connect</h2>
        </a>
        <p class="text t-ct op-7">
          Connecting various wallets (browser, mobile), working with blockchain
          and smart contracts.
        </p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open project AMFI Connect"
          >View</a
        >
      </div>
    </div>
    <div class="head-section fl-bc fl-dc hs-part">
      <h2 class="title ls-2 t-gr ls t-u cl-g-project">Projects</h2>
      <p class="text op-7 ls fw-b">
        Recent completed projects in the areas of blockchain, frontend and
        backend.
      </p>
      <a class="cl-g-project btn g-bg w-base g-a" href="#" target="_blank"
        >View projects</a
      >
    </div>
  </div>
</section>
