<section class="u-container">
  <div class="u-section-head">
    <h2 class="ui-text-heading-1">What I Focus On</h2>
    <p class="text ui-text-paragraph-extra-large-medium u-text-muted">
      My focus extends beyond writing code. I partner with teams to ensure the frontend foundation
      helps the business move faster, rather than slowing it down.
    </p>
  </div>

  <div class="list">
    @for (item of list; track $index) {
      <div class="item">
        <div class="title">{{ item.title }}</div>
        <p class="text">{{ item.text }}</p>
      </div>
    }
  </div>
</section>
