<section class="sc work">
  <div class="container">
    <div class="head-wrap">
      <div class="head-section fl-bc fl-dc hs-part">
        <h2 class="title ls-2 t-gr ls t-u cl-g-work">Career</h2>
        <p class="text op-7 ls fw-b">My work, career and skills on timeline.</p>
      </div>
    </div>
    <div class="info fl fl-dc">
      <div class="cd item fl fl-dc">
        <h3 class="title fz-md ls fl-cb" data-date="01.09.2022">Unlimint</h3>
        <div class="fl-cb fl-w">
          <span class="pos fw-b ls m op-7">Engeneer Senior Front-end</span>
        </div>
      </div>
      <div class="things">
        <ul class="list">
          <li>Create first landing pages with my build-on-develop design.</li>
          <li>Learn Web JavaScript for manipulating elememts and etc.</li>
          <li>Learn basic PHP for send Forms and another data by mail.</li>
          <li>
            Learning HTML and CSS as basic things for create website pages.
          </li>
        </ul>
      </div>
      <div class="cd item fl fl-dc">
        <h3 class="title fz-md ls fl-cb" data-date="15.02.2022">Nodamatics</h3>
        <div class="fl-cb fl-w">
          <span class="pos fw-b ls m">Senior Front-end TeamLead</span>
        </div>
      </div>
      <div class="things">
        <ul class="list">
          <li>Create first landing pages with my build-on-develop design.</li>
          <li>Learn Web JavaScript for manipulating elememts and etc.</li>
          <li>Learn basic PHP for send Forms and another data by mail.</li>
          <li>
            Learning HTML and CSS as basic things for create website pages.
          </li>
        </ul>
      </div>
      <div class="cd item fl fl-dc">
        <h3 class="title fz-md ls fl-cb" data-date="11.11.2019">
          Rock'n'Block
        </h3>
        <div class="fl-cb fl-w">
          <span class="pos fw-b ls m">Front-end TeamLead</span
          ><span class="pos fw-b ls m">Software Engeneer</span>
        </div>
      </div>
      <div class="things">
        <ul class="list">
          <li>Create first landing pages with my build-on-develop design.</li>
          <li>Learn Web JavaScript for manipulating elememts and etc.</li>
          <li>Learn basic PHP for send Forms and another data by mail.</li>
          <li>
            Learning HTML and CSS as basic things for create website pages.
          </li>
        </ul>
      </div>
      <div class="cd item fl fl-dc">
        <h3 class="title fz-md ls fl-cb" data-date="25.02.2019">Wallarm</h3>
        <div class="fl-cb fl-w">
          <span class="pos fw-b ls m">Middle Web Developer</span>
        </div>
      </div>
      <div class="things">
        <ul class="list">
          <li>Create first landing pages with my build-on-develop design.</li>
          <li>Learn Web JavaScript for manipulating elememts and etc.</li>
          <li>Learn basic PHP for send Forms and another data by mail.</li>
          <li>
            Learning HTML and CSS as basic things for create website pages.
          </li>
        </ul>
      </div>
      <div class="cd item fl fl-dc">
        <h3 class="title fz-md ls fl-cb" data-date="16.09.2016">
          Grand Media Service
        </h3>
        <div class="fl-cb fl-w">
          <span class="pos fw-b ls m">Web Developer</span
          ><span class="pos fw-b ls m">Middle Web Developer</span>
        </div>
      </div>
      <div class="things">
        <ul class="list">
          <li>Create first landing pages with my build-on-develop design.</li>
          <li>Learn Web JavaScript for manipulating elememts and etc.</li>
          <li>Learn basic PHP for send Forms and another data by mail.</li>
          <li>
            Learning HTML and CSS as basic things for create website pages.
          </li>
        </ul>
      </div>
      <div class="cd item fl fl-dc">
        <h3 class="title fz-md ls fl-cb" data-date="16.09.2014">
          Start career
        </h3>
        <div class="fl-cb fl-w">
          <span class="pos fw-b ls m">Junior Web Developer</span>
        </div>
      </div>
    </div>
  </div>
</section>
