<section class="sc shr-b">
  <div class="container">
    <div class="cd-st">
      <div class="head-section fl-cc fl-dc h-mb">
        <h2 class="title ls-2 t-gr ls t-u cl-g-cmain">Share it!</h2>
        <p class="text op-7 ls fw-b">
          Hey, help me and share that page! Just only one click!
        </p>
      </div>
      <div class="shr-b-l fl-cc">
        <a
          class="btn ic-twitter fill t-cw m"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Share this page on Twitter"
        ></a
        ><a
          class="btn ic-facebook fill t-cw m"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Share this page on Github"
        ></a
        ><a
          class="btn ic-telegram fill t-cw m"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Share this page on Behance"
        ></a
        ><a
          class="btn ic-linkedin fill t-cw m"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Share this page on Instagram"
        ></a>
      </div>
    </div>
  </div>
</section>
