<div class="row-line row-tb row-sbc">
  <ui-home-contracts-addresses-item [contractKey]="'AST'" />
  <div class="row-spacer"></div>
  <ui-home-contracts-addresses-item [contractKey]="'APT'" />
</div>

<div class="row-line row-b row-sbc">
  <ui-home-contracts-addresses-item [contractKey]="'STAKING'" />
  <div class="row-spacer"></div>
  <ui-home-contracts-addresses-item [contractKey]="'AUCTION'" />
</div>

<div class="row-line row-b row-sbc">
  <ui-home-contracts-addresses-item [contractKey]="'MARKET'" />
  <div class="row-spacer"></div>
  <ui-home-contracts-addresses-item [contractKey]="'LOCKER'" />
</div>
