@use "../../../../../../../shared/styles/mixins" as mx;
@use "../../../../../../../shared/styles/sandbox.scss";

:host {
  width: 100%;
}

.benefit-list {
  display: flex;
  align-items: center;
  width: 100%;

  border-right: 20px solid rgba(var(--gray-500-rgb), 0.1);
  border-left: 20px solid rgba(var(--gray-500-rgb), 0.1);

  overflow-x: scroll;

  ui-benefit-item {
    width: 100%;
    border-right: var(--border-base-width) solid
      rgba(var(--border-base-color-rgb), var(--border-base-opacity));

    &:first-child {
      border-left: var(--border-base-width) solid
        rgba(var(--border-base-color-rgb), var(--border-base-opacity));
    }
  }
}
