<div class="sandbox-ui">
  <div class="benefit-list">
    <div class="list">
      <ui-benefit-item
        icon="calendarScheduleFill"
        title="Date start"
        [text]="dateStart()"
        [isSmall]="true"
      />
      <ui-benefit-item
        icon="calendarScheduleFill"
        title="Date end"
        [text]="dateEnd()"
        [isSmall]="true"
      />
    </div>
    <div class="list">
      <ui-benefit-item icon="coinFill">
        <div benefitContent>
          <div class="block-title title">
            Lot
            <span class="text-accent cl-apt fill">{{ lot() }} APT</span>
          </div>
        </div>
      </ui-benefit-item>
      <ui-benefit-item icon="timeFill">
        <ng-content benefitContent>
          <div class="block-title title">
            End in
            <span class="text-accent cl-gray-900 fill">{{ endTime() }}</span>
          </div>
        </ng-content>
      </ui-benefit-item>
    </div>
  </div>
</div>
