@use 'styles/mixins' as mx;

:host {
  display: block;
  margin-top: 180px;

  @include mx.down(tablet) {
    margin-top: 120px;
  }

  @include mx.down(mobile) {
    margin-top: 100px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 760px;

  &[data-align='center'] {
    align-items: center;
    text-align: center;
    margin-inline: auto;
  }

  &[data-align='left'] {
    align-items: flex-start;
    text-align: left;
  }

  @include mx.down(mobile) {
    max-width: 420px;
  }
}

.eyebrow {
  @include mx.ui-text('paragraph-extra-large-medium');
  color: var(--ui-sem-muted-fg);

  @include mx.down(mobile) {
    font-size: var(--ui-fz-lg);
  }
}

.title {
  @include mx.ui-text('heading-1');
  font-weight: var(--ui-fw-extrabold);
  margin: var(--ui-spacing-md) 0 var(--ui-spacing-2xl) 0;
}

.text {
  @include mx.ui-text('paragraph-extra-large-medium');
  color: var(--ui-sem-muted-fg);
  line-height: 1.6;

  @include mx.down(mobile) {
    font-size: var(--ui-fz-lg);
  }
}

.btns {
  display: flex;
  gap: var(--ui-spacing-xl);
  flex-wrap: wrap;
  margin-top: var(--ui-spacing-4xl);

  @include mx.down(tablet) {
    gap: var(--ui-spacing-md);
  }

  @include mx.down(mobile) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--ui-spacing-sm);

    [ui-button] {
      width: 100%;
    }
  }
}

.trust {
  display: flex;
  gap: var(--ui-spacing-sm);
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--ui-spacing-4xl);

  @include mx.ui-text('paragraph-small-medium');

  &[data-align='center'] {
    justify-content: center;
  }

  @include mx.down(mobile) {
    justify-content: center;
  }
}
