<div ngpDialogOverlay>
  <div ngpDialog aria-label="Demo summary dialog">
    <button
      class="dialog-close"
      ui-button
      icon="closeLine"
      iconOnly
      variant="secondary"
      pill
      (click)="close()"
    ></button>

    <div class="dialog-content">
      <div class="dialog-head">
        <h2 class="title">{{ item().title }}</h2>
      </div>

      <p class="summary">{{ item().summary }}</p>

      <div class="section">
        <h4 class="section-title">Overview</h4>
        <p class="text">{{ item().description }}</p>
      </div>

      @if (item().tags?.length) {
        <div class="section">
          <h4 class="section-title">Focus areas</h4>
          <div class="tags">
            @for (tag of item().tags; track $index) {
              <span class="tag">{{ tag }}</span>
            }
          </div>
        </div>
      }

      <div class="actions">
        @if (item().liveUrl) {
          <button ui-button [routerLink]="'/demos/' + item().slug">Open Demo</button>
        }

        @if (item().link) {
          <a
            ui-button
            icon="arrowRightUpLine"
            [href]="item().link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Open Demo"
          >
            Open Demo
          </a>
        }

        @if (item().code) {
          <a
            ui-button
            icon="arrowRightUpLine"
            variant="secondary"
            [href]="item().code"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="View Code"
          >
            View Code
          </a>
        }
      </div>
    </div>
  </div>
</div>
