<section class="hero">
  <div class="container fl-sbc">
    <div class="avatar fl-cc">
      <img
        class="img"
        src="assets/img/amfi.svg"
        alt="amary filo"
        height="220"
        width="193"
      />
      <img
        class="bg"
        src="assets/img/hexagon.svg"
        alt="gradient hexagon"
        height="450"
        width="400"
      />
    </div>
    <div class="info fl-cc fl-dc">
      <span class="logo ic-amaryfilo t-gr"></span>
      <b class="pos t-u ls">Developer</b>
      <h1 class="name ls t-gr">Amary Filo</h1>
      <div class="sphere fl">
        <span class="btn m" title="Web develop area">Web</span>
        <span class="btn m" title="Mobile develop area">Mobile</span>
        <span class="btn m" title="Blockchain develop area">Blockchain</span>
        <span class="btn m" title="Design develop area">Design</span>
      </div>
      <div class="social fl">
        <app-social-links />
      </div>
    </div>
  </div>
</section>
