<section class="sc head-section about">
  <div class="container info fl-cc fl-dc t-c">
    <h1 class="title ls-2 t-gr ls t-u cl-g-about">Hey, Hello.</h1>
    <p class="text op-7 ls fw-b">
      I do not know how you got here, but I hope the information will interest
      you 🥂.<br /><br />I am a web, mobile and blockchain developer. I create
      projects and integrations of varying complexity. I also create various
      designs, logos and icon fonts. On this site you can find all my work done
      by me in different areas, as well as a blog with different topics.<br /><br />
    </p>
    <a class="cl-g-about btn g-bg w-base g-a" routerLink="/about">
      Who am I?
    </a>
  </div>
</section>
