<section class="sbx-wallet-tools sandbox-ui">
  <sbx-wallet-tools-header-component [(page)]="page" />

  <div class="container">
    <div class="card">
      @if(page() === 'home') { <sbx-wallet-tools-home-tab [(page)]="page" /> }
      @if(page() === 'staking') { <sbx-wallet-tools-staking-tab /> } @if(page()
      === 'auction') { <sbx-wallet-tools-auction-tab /> } @if(page() ===
      'market') { <sbx-wallet-tools-marketplace-tab /> }
    </div>
  </div>

  <sbx-wallet-tools-footer-component />
</section>
