<a
  class="btn ic-github fill t-cw m"
  href="https://github.com/amaryfilo"
  rel="nofollow norefferer"
  target="_blank"
  [title]="'social.title' | t : { title: 'Github' }"
></a>
<a
  class="btn ic-behance fill t-cw m"
  href="https://www.behance.net/amary-filo"
  rel="nofollow norefferer"
  target="_blank"
  [title]="'social.title' | t : { title: 'Behance' }"
></a>
<a
  class="btn ic-instagram fill t-cw m"
  href="https://www.instagram.com/amfi.dev"
  rel="nofollow norefferer"
  target="_blank"
  [title]="'social.title' | t : { title: 'Instagram' }"
></a>
<a
  class="btn ic-linkedin fill t-cw m"
  href="https://www.linkedin.com/in/amary-filo/"
  rel="nofollow norefferer"
  target="_blank"
  [title]="'social.title' | t : { title: 'LinkedIn' }"
></a>
