<section class="sc design">
  <div class="container">
    <div class="head-section fl-bc fl-dc hs-part">
      <h2 class="title ls-2 t-gr ls t-u cl-g-design">Design</h2>
      <p class="text op-7 ls fw-b">
        I enjoy developing products and sharing my experiences. Perhaps you can
        find useful information.
      </p>
    </div>
    <a
      class="cl-design cd cd-ds bd-h btn-anm"
      href="#"
      target="_blank"
      title="Open design Moovie"
    >
      <picture class="img fl fl-dc">
        <source type="image/webp" srcset="img/design-1.webp" />
        <img
          loading="lazy"
          src="img/design-1.png"
          alt="Thumbnail of Amary Filo Moovie design"
        />
      </picture>
      <h3 class="btn fill t-cw" title="Open design Moovie">Moovie</h3> </a
    ><a
      class="cl-design cd cd-ds bd-h btn-anm"
      href="#"
      target="_blank"
      title="Open design Clothing store prototype"
    >
      <picture class="img fl fl-dc">
        <source type="image/webp" srcset="img/design-2.webp" />
        <img
          loading="lazy"
          src="img/design-2.png"
          alt="Thumbnail of Amary Filo Clothing store prototype design"
        />
      </picture>
      <h3 class="btn fill t-cw" title="Open design Clothing store prototype">
        Clothing store prototype
      </h3> </a
    ><a
      class="cl-design cd cd-ds bd-h btn-anm"
      href="#"
      target="_blank"
      title="Open design Minimalistic personal website design"
    >
      <picture class="img fl fl-dc">
        <source type="image/webp" srcset="img/design-3.webp" />
        <img
          loading="lazy"
          src="img/design-3.png"
          alt="Thumbnail of Amary Filo Minimalistic personal website design design"
        />
      </picture>
      <h3
        class="btn fill t-cw"
        title="Open design Minimalistic personal website design"
      >
        Minimalistic personal website design
      </h3> </a
    ><a
      class="cl-design cd cd-ds bd-h btn-anm"
      href="#"
      target="_blank"
      title="Open design Minimal landing page for studios"
    >
      <picture class="img fl fl-dc">
        <source type="image/webp" srcset="img/design-4.webp" />
        <img
          loading="lazy"
          src="img/design-4.png"
          alt="Thumbnail of Amary Filo Minimal landing page for studios design"
        />
      </picture>
      <h3
        class="btn fill t-cw"
        title="Open design Minimal landing page for studios"
      >
        Minimal landing page for studios
      </h3> </a
    ><a
      class="btn btn-pad fl-dc w-100 g-bg g-a cl-g-design"
      href="#"
      target="_blank"
      ><span class="title fl-cc fl-dc fz-md fw-b ic-brush"
        >View all designs</span
      ></a
    >
  </div>
</section>
