<div [class.base-ui]="!layout.frameless()">
  <div [class.container]="!layout.frameless()">
    <sbx-frame
      [title]="manifest()?.title"
      [description]="manifest()?.description"
      [tags]="manifest()?.tags"
      [theme]="theme()"
      [controls]="!!manifest()?.controls"
      (themeToggle)="theme.set($event)"
      [frameless]="layout.frameless()"
      (changeFrameless)="changeLayout()"
    >
      <main sbxFrameMain [attr.data-theme]="theme()">
        @if (manifest()?.component; as Cmp) {
        <ng-container
          *ngComponentOutlet="Cmp; injector: demoInjector()"
        ></ng-container>
        }
      </main>

      @if (manifest()?.controls; as Ctl) {
      <aside sbxFrameAside>
        <ng-container
          *ngComponentOutlet="Ctl; injector: demoInjector()"
        ></ng-container>
      </aside>
      }
    </sbx-frame>
  </div>
</div>
