@use "../../styles/mixins" as mx;
@use "../../styles/sandbox";

:host {
  width: 100%;
}

.ui-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  .field {
    position: relative;
    display: flex;
    border-bottom: var(--border-base-width) solid
      rgba(var(--border-base-color-rgb), var(--border-base-opacity));
  }

  .control {
    &-wrap {
      position: relative;
      width: 100%;
      min-height: 80px;
      padding: mx.rem(10) mx.rem(15);
    }

    &-inner {
      position: relative;

      display: flex;
      align-items: center;

      width: 100%;
      padding-top: 20px;
    }
  }

  .control {
    width: 100%;
    height: 100%;

    font: inherit;
    font-size: mx.rem(28);
    font-weight: 600;
    text-decoration: none !important;

    border: none;
    background: transparent;
    color: inherit;

    outline: none;
    inset: 0;

    &:focus .ui-input ~ .field {
      outline: 2px solid #665fe3;
    }

    &:focus ~ .label,
    &:not(:placeholder-shown).control:not(:focus) ~ .label {
      --input-label-top: #{mx.rem(10)};
      --input-label-fz: #{mx.rem(14)};
      // --input-label-left: #{mx.rem(15)};
      // top: var(--input-label-top-active, #{mx.rem(-10)});
      // left: var(--input-label-left-active, #{mx.rem(10)});
      // font-size: var(--input-label-fz-active, #{mx.rem(12)});
    }

    &:hover {
      border-color: rgba(var(--cl-main-rgb), 0.7);
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--cl-main-rgb), 0.25);
      border-color: rgba(var(--cl-main-rgb), 0.7);
    }

    &:not(:placeholder-shown):not(:active):not(:focus) {
      border-color: rgba(var(--cl-main-rgb), 0.3);
    }
  }

  .affix {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    padding: 0 15px;

    &.prefix {
      border-right: var(--border-base-width) solid
        rgba(var(--border-base-color-rgb), var(--border-base-opacity));
    }

    &.suffix {
      border-left: var(--border-base-width) solid
        rgba(var(--border-base-color-rgb), var(--border-base-opacity));
    }
  }

  .label {
    position: absolute;
    top: var(--input-label-top, #{mx.rem(30)});
    left: var(--input-label-left, #{mx.rem(0)});

    font-size: var(--input-label-fz, #{mx.rem(20)});
    font-weight: 600;
    letter-spacing: mx.rem(1);

    padding: 0 mx.rem(5);

    color: var(--cp-input-fg-muted, var(--fg-muted));
    transform: translateY(-50%);
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    cursor: text;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .actions,
  .errors {
    min-height: mx.rem(25);
  }

  .bottom {
    padding: 10px;
  }

  // Errors
  .errors {
    display: grid;
    gap: 2px;

    .err {
      color: var(--danger, #e35f68);
    }
  }

  &.invalid .field {
    outline: 2px solid #e35f68;
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
