@use "../../styles/mixins" as mx;
@use "../../styles/sandbox";

:host {
  width: 100%;
}

.accordion {
  width: 100%;

  &.bordered {
    border: var(--border-base-width) solid
      rgba(var(--border-base-color-rgb), var(--border-base-opacity));
  }

  &-head {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;

    padding-left: 20px;
    padding-right: 15px;

    border-bottom: var(--border-base-width) solid
      rgba(var(--border-base-color-rgb), var(--border-base-opacity));

    @include mx.b(650) {
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-template-areas:
        "info etc"
        "content content";
      padding: 0;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      width: max-content;
      min-width: max-content;
      padding: 10px 15px 10px 0;
      grid-area: info;
      word-break: break-all;

      @include mx.b(650) {
        padding: 10px 15px 10px 15px;
      }

      * {
        width: max-content;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      width: 100%;
      padding: var(--cp-accordion-head-content-padding, 0 25px);

      border-left: var(--border-base-width) solid
        rgba(var(--border-base-color-rgb), var(--border-base-opacity));
      grid-area: content;

      @include mx.b(650) {
        padding: 10px var(--spacing-md);
        border-left: none;
        border-top: var(--cp-row-border);
      }
    }

    &-etc {
      display: flex;
      flex-shrink: 0;
      grid-area: etc;
    }

    &-btns {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-right: var(--spacing-md);
    }

    .toggle {
      display: flex;
      align-items: center;
      border-left: 1px solid
        rgba(var(--border-base-color-rgb), var(--border-base-opacity));
      padding-left: var(--spacing-md);

      @include mx.b(650) {
        padding-right: var(--spacing-md);
      }
    }
  }

  &-body {
    &:not(&.no-padding) {
      padding: 0;
    }
    padding: 25px 20px;

    border-bottom: var(--border-base-width) solid
      rgba(var(--border-base-color-rgb), var(--border-base-opacity));
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: max-content;

    padding: 10px 20px;

    @include mx.b(650) {
      border-bottom: var(--cp-row-border);
    }

    &-etc {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
