<div class="sandbox-ui">
  <div class="row-text">
    <h2 class="h1">AMFI Dex Tools</h2>
    <p class="text text-secondary">
      This is a demo project that showcases the core mechanics of decentralized
      finance within the AMFI ecosystem on the
      <b class="text-accent fill cl-secondary-500">Ethereum Sepolia testnet</b>.
      Here you can provide liquidity to token pairs, earn rewards through
      farming, and experiment with token swaps, experiencing how automated
      market makers (AMMs) and yield protocols work in practice.
    </p>
    <br />
    <p class="text-secondary t-c fz-md">
      To use the project,
      <b class="text-accent cl-metamask">
        you need to install the MetaMask browser extension.
      </b>
      <br />
      Other wallets will be supported later.
    </p>
    <br />
    <div class="fl home-btns">
      <ui-button
        [leftIcon]="'gitRepositoryFill'"
        [isFilled]="true"
        [isStrong]="true"
        (click)="go('about')"
      >
        Learn how it works
      </ui-button>
      <div class="m-xs"></div>
      <ui-button
        [leftIcon]="'metamaskColor'"
        [isStrong]="true"
        [textColor]="true"
        color="metamask"
        (click)="openMetamaskLink()"
      >
        Install MetaMask
      </ui-button>
    </div>
  </div>

  <!-- Tokens -->
  <ui-dex-home-tokens [(page)]="page" />

  <!-- Liquidity -->
  <sbx-row-title-content mainTitle="Liquidity info">
    <ui-liquidity-info />
  </sbx-row-title-content>

  <!-- Farming -->
  <sbx-row-title-content mainTitle="Farming info">
    <ui-farming-summary />
  </sbx-row-title-content>

  <!-- Contracts & Addresses -->
  <sbx-row-title-content mainTitle="Contracts & addresses" [useStatus]="false">
    <ui-dex-home-contracts-addresses />
  </sbx-row-title-content>
</div>
