<section class="u-container">
  <div class="content">
    <h2 class="ui-text-heading-1">Who I Am</h2>

    <div class="text ui-text-paragraph-extra-large-medium u-text-muted">
      <p>
        I’m a Senior Frontend Engineer and Team Lead with over 10 years of experience. I don’t view
        the frontend as just UI implementation; for me, it is the intersection where product logic,
        user experience, data flow, and technical maintainability meet.
      </p>

      <p>
        Throughout my career, I’ve worked on highly complex products across banking, crypto
        ecosystems, and B2B platforms. I do my best work in product teams where engineers are
        trusted to take full ownership by stepping into ambiguous situations, simplifying complex
        problems, and taking a feature from a rough idea to a successful release.
      </p>
    </div>
  </div>
</section>
