<div class="sandbox-ui">
  <div class="row-text">
    <h2 class="h1">Welcome to the AMFI Web3 Demo</h2>
    <p class="text text-secondary">
      This project demonstrates a full Web3 flow: stake → earn → spend. It’s
      built with Angular + Ethers.js and a set of Solidity contracts deployed
      and verified on Sepolia.
    </p>
  </div>

  <!-- Tokens -->
  <ui-home-tokens [(page)]="page" />

  <!-- Staking -->
  <sbx-wallet-tools-row-title-content title="My Stakings">
    <ui-staking-list />
  </sbx-wallet-tools-row-title-content>

  <!-- Auction -->
  <sbx-wallet-tools-row-title-content title="My Auction">
    <ui-auction-list type="withdraw" />
  </sbx-wallet-tools-row-title-content>

  <!-- Marketplace -->
  <sbx-wallet-tools-row-title-content title="My Items">
    <ui-marketplace-items-list />
  </sbx-wallet-tools-row-title-content>

  <!-- Contracts & Addresses -->
  <sbx-wallet-tools-row-title-content
    title="Contracts & addresses"
    [useStatus]="false"
  >
    <ui-home-contracts-addresses />
  </sbx-wallet-tools-row-title-content>
</div>
