<div class="container areas">
  <div class="areas-wrap">
    <div class="container head-section fl-cc fl-dc">
      <h2 class="title ls-2 t-gr ls t-u cl-g-development">Areas</h2>
      <p class="text op-7 ls fw-b">
        Find more informations about my areas of work.
      </p>
    </div>
    <div class="areas-cards">
      <div class="area cd cd-area btn-anm bd-h cl-frontend">
        <h3 class="title ls ic fl-cb ic-frontend">Frontend</h3>
        <p class="text op-7">
          Convenient interfaces, integrations, architecture.
        </p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open page about frontend"
          >Open</a
        >
      </div>
      <div class="area cd cd-area btn-anm bd-h cl-blockchain">
        <h3 class="title ls ic fl-cb ic-blockchain">Blockchain</h3>
        <p class="text op-7">Tokens, smart contracts, connect user accounts.</p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open page about blockchain"
          >View</a
        >
      </div>
      <div class="area cd cd-area btn-anm bd-h cl-backend">
        <h3 class="title ls ic fl-cb ic-backend">Backend</h3>
        <p class="text op-7">
          API, architecture, services, integrations and databases.
        </p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open page about backend"
          >More</a
        >
      </div>
      <div class="area cd cd-area btn-anm bd-h cl-design">
        <h3 class="title ls ic fl-cb ic-design">Design</h3>
        <p class="text op-7">
          UI/UX, landings, mobile, e-commerce and web pages.
        </p>
        <a
          class="btn fill t-cw"
          href="#"
          rel="nofollow norefferer"
          target="blank"
          title="Open page about design"
          >Learn</a
        >
      </div>
    </div>
  </div>
</div>
