<div class="sandbox-ui">
  <div class="pull-content">
    @if(['bit','winner'].includes(type())) {
    <div class="separated-line row-b"></div>
    } @if(['bit','winner'].includes(type())) {
    <div class="row-line bit">
      <ui-benefit-item
        icon="vipCrown2Fill"
        [title]="(type() === 'winner' ? 'You' : 'Top') + 'Bit'"
        [text]="date()"
        [isSmall]="true"
      />
      <div class="block-title fw-extrabold">
        {{ type() === "winner" ? "You" : "Someone" }} bit
        <span class="text-accent cl-ast fill">150 AST</span> Tokens for this
        Auction
      </div>
    </div>

    } @if(['bit','empty'].includes(type())) {
    <div class="separated-line row-b"></div>
    <div class="row-line bit-form">
      <div class="row-form">
        <div class="row-line row-sbc row-rl">
          <ui-input
            name="stake"
            [label]="'Input AST Token Amount'"
            [type]="'token'"
            [decimals]="18"
            [suffix]="true"
            [validators]="validators()"
            [(value)]="amount"
          >
            <span input-suffix class="text-accent cl-ast fz-md">AST</span>

            <ng-container input-actions>
              <div class="block-title" accordionHeadInfo>
                <span class="text-secondary">
                  You have
                  <span class="text-accent fill cl-ast">{{ max() }} AST</span>
                  tokens
                </span>
              </div>
              <ui-button
                [isFilled]="true"
                [isStrong]="true"
                color="gray-900"
                size="xxs"
                (click)="amount.set(max())"
                >Send Max</ui-button
              >
            </ng-container>
          </ui-input>
        </div>

        <div class="row-line row-t row-rl">
          <ui-button
            class="m-sm bit-btn"
            [fullWidth]="true"
            [isFilled]="true"
            [isStrong]="true"
            size="md"
          >
            BIT
          </ui-button>
        </div>
      </div>
    </div>
    }

    <div class="separated-line"></div>
  </div>
</div>
