<main class="pg-project">
  <section class="hero">
    <div class="container fl-cc fl-dc">
      <span class="ls t-gr cl-g-project fz-xl fw-800 t-u">{{
        "page.project.title" | t
      }}</span>
      <h1 class="title ls fz-xxl2 t-c">{{ project()?.title }}</h1>
      <time class="fz-sm ls op-6 fw-b" [attr.datetime]="project()?.date | date">
        {{ project()?.date | date }}
      </time>
    </div>
  </section>

  <section class="sc info">
    <div class="container">
      <div class="cd-st fl-cc fl-dc t-c image">
        <img
          [src]="imagePath(project()?.logo) + '.png'"
          [alt]="'page.project.thumbnail' | t : { title: project()?.title }"
          height="100%"
          width="100%"
        />
      </div>
      <div class="cd-st fl-cc fl-dc t-c about">
        <h2 class="title ls t-gr t-u cl-g-about">
          {{ "page.project.about" | t }}
        </h2>
        <p class="text fz-nm op-7 ls" [innerHTML]="project()?.description"></p>
      </div>
      <div class="cd-st fl-cc fl-dc t-c type">
        <h2 class="title ls t-gr t-u cl-g-type">
          {{ "page.project.type" | t }}
        </h2>
        <p class="text op-7 ls fw-900">{{ project()?.category }}</p>
        <a class="btn g-bg w-100 g-a cl-g-type"
          >{{ "page.project.button" | t }}
        </a>
      </div>
    </div>
  </section>

  <section class="sc instruments">
    <div class="container">
      <div class="info fl-cc fl-w">
        @for (item of project()?.instruments; track $index) {
        <div class="cd bd-t m">
          <span [class]="'title ls ic fl-cb ic-' + item.icon">{{
            item.title
          }}</span>
        </div>
        }
      </div>
      <div class="head-section hs-part fl-bc fl-dc">
        <h2 class="title ls-2 t-gr ls t-u cl-g-instruments">
          {{ "page.project.instruments" | t }}
        </h2>
        <p class="text op-7 ls fw-b">
          {{ "page.project.instruments.description" | t }}
        </p>
      </div>
    </div>
  </section>

  <section class="sc done">
    <div class="container head-section fl-cc fl-dc h-mb">
      <h2 class="title ls-2 t-gr ls t-u cl-g-feature">
        {{ "page.project.feature" | t }}
      </h2>
      <p class="text op-7 ls fw-b">
        {{ "page.project.feature.description" | t }}
      </p>
    </div>
    <div class="container cards">
      @for (item of project()?.features; track $index) {
      <div class="cd">
        <h3 class="title fz-md">{{ item.title }}</h3>
        <p class="text op-7">
          {{ item.description }}
        </p>
      </div>
      }
    </div>
  </section>

  @if (project()?.images?.length) {
  <section class="sc image-grid">
    <div class="container head-section fl-cc fl-dc h-mb">
      <h2 class="title ls-2 t-gr ls t-u cl-g-images">
        {{ "page.project.images" | t }}
      </h2>
      <p class="text op-7 ls fw-b">
        {{ "page.project.images.description" | t }}
      </p>
    </div>
    <div class="container images">
      @for (item of project()?.images; track $index) {
      <picture class="img fl fl-dc">
        <source type="image/webp" [srcset]="imagePath(item) + '.webp'" />
        <img
          loading="lazy"
          [src]="imagePath(item) + '.png'"
          [alt]="
            'page.project.images.thumbnail'
              | t : { project: project()?.title, index: $index + 1 }
          "
        />
      </picture>
      }
    </div>
  </section>
  }

  <section class="sc warn">
    <div class="container">
      <div class="content cl-warn">
        <h2 class="fz-xl title">{{ "page.project.warn" | t }}</h2>
        <p class="text op-7">
          {{ "page.project.warn.description" | t }}
        </p>
      </div>
    </div>
  </section>

  <section class="sc links">
    <div class="container fl-cc fl-dc">
      <div class="head-section fl-cc fl-dc">
        <h2 class="title ls-2 t-gr ls t-u cl-g-links">
          {{ "page.project.links" | t }}
        </h2>
        <p class="text op-7 ls fw-b">
          {{ "page.project.links.description" | t }}
        </p>
      </div>
      <div class="fl-cc links">
        @for (item of project()?.links; track $index) {
        <a
          [class]="'btn m ic-' + item.icon"
          [href]="item.url"
          [title]="
            'page.project.link.title'
              | t : { project: project()?.title, title: item.title }
          "
          rel="nofollow norefferer"
          target="blank"
        ></a>
        }
      </div>
    </div>
  </section>

  <app-form-order />

  <app-subscribe />
</main>
