<div class="row-line row-tb row-sbc">
  <ui-dex-home-contracts-addresses-item [contractKey]="'AST'" />
  <div class="row-spacer"></div>
  <ui-dex-home-contracts-addresses-item [contractKey]="'APT'" />
</div>

<div class="row-line row-b row-sbc">
  <ui-dex-home-contracts-addresses-item [contractKey]="'WETH'" />
  <div class="row-spacer"></div>
  <ui-dex-home-contracts-addresses-item [contractKey]="'FARM'" />
</div>

<div class="row-line row-b row-sbc">
  <ui-dex-home-contracts-addresses-item [contractKey]="'FACTORY'" />
  <div class="row-spacer"></div>
  <ui-dex-home-contracts-addresses-item [contractKey]="'ROUTER'" />
</div>

<div class="row-line row-b row-sbc">
  <ui-dex-home-contracts-addresses-item [contractKey]="'PAIR_AST_APT'" />
  <div class="row-spacer"></div>
  <ui-dex-home-contracts-addresses-item [contractKey]="'PAIR_AST_WETH'" />
</div>
