<footer>
  <div class="container fl-cc fl-dc">
    <span class="logo ic-amaryfilo t-gr"></span>
    <div class="cleatfix"></div>
    <nav class="fl-cc">
      <a
        class="btn m"
        href="#"
        rel="nofollow norefferer"
        target="blank"
        title="Open About page"
        >About</a
      ><a
        class="btn m"
        href="#"
        rel="nofollow norefferer"
        target="blank"
        title="Open Design page"
        >Design</a
      ><a
        class="btn m"
        href="#"
        rel="nofollow norefferer"
        target="blank"
        title="Open Projects page"
        >Projects</a
      ><a
        class="btn m"
        href="#"
        rel="nofollow norefferer"
        target="blank"
        title="Open Solutions page"
        >Solutions</a
      ><a
        class="btn m"
        href="#"
        rel="nofollow norefferer"
        target="blank"
        title="Open Sandbox page"
        >Sandbox</a
      >
    </nav>
    <div class="social-links fl fl-w">
      <app-social-links />
    </div>
    <div class="clearfix"></div>
    <b class="ft-creater ls">Created by Amary Filo</b>
    <span class="ft-copyright">all rights received (c) 2022</span>
  </div>
</footer>
