<section class="sc subscribe">
  <div class="container">
    <div class="cd cl-subscribe">
      <div class="head-section fl-bc fl-dc">
        <h2 class="ls t-gr cl-g-subscribe fz-xxl2 fw-800 t-u">Get news!</h2>
        <p class="text op-7">No spam, just new blog posts and updates!</p>
      </div>
      <form class="form">
        <div class="form-group">
          <input
            class="cl-subscribe form-input"
            id="subscribe"
            type="text"
            name="email"
            required="required"
            placeholder=" "
          />
          <label class="form-label" for="subscribe">Your Email</label>
          <a
            class="btn fill t-cw md"
            href="#"
            rel="nofollow norefferer"
            target="blank"
            title="Subscribe on news"
            >GO!</a
          >
        </div>
        <div class="form-text">
          <p class="text">
            By clicking on the button you agree <br />
            to <a href="#">the privacy policy </a>and
            <a href="#">terms of data transfer.</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
