<section class="u-container">
  <div class="u-section-head">
    <h2 class="ui-text-heading-1">Engineering Approach</h2>
    <p class="text ui-text-paragraph-extra-large-medium u-text-muted">
      My technical decisions are based on what helps the product succeed, not on the latest trends.
    </p>
  </div>

  <div class="list">
    @for (item of list; track $index) {
      <div class="item">
        <div class="title">{{ item.title }}</div>
        <p class="text">{{ item.text }}</p>
      </div>
    }
  </div>
</section>
