@use 'styles/mixins' as mx;

.u-section-head {
  --cp-sc-head-width: 650px;

  margin-bottom: var(--ui-spacing-5xl);

  [ui-button] {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include mx.down(mobile) {
    margin-bottom: var(--ui-spacing-2xl);
  }
}
