<section class="u-container">
  <div class="u-section-head">
    <h2 class="ui-text-heading-1">Featured Work</h2>
    <p class="text ui-text-paragraph-extra-large-medium u-text-muted">
      A selection of production-grade platforms delivered for enterprise banking and crypto
      businesses.
    </p>
    <button
      ui-button
      iconOnly
      icon="arrowRightUpLine"
      pill
      size="extra-lg"
      variant="secondary"
      routerLink="/works"
    ></button>
  </div>

  <work-list [list]="list" />
</section>
