<main class="pg-main">
  <app-under-construction />
  <app-hero />
  <app-about />
  <app-subscribe />
  <app-development />
  <section class="sc">
    <app-under-construction />
  </section>
  @defer (when vm().blog.items.length) {
  <app-blog
    [latestPost]="vm().blog.items"
    [isFallback]="vm().blog.isFallback"
  />
  } @placeholder {
  <h2>skeleton</h2>
  } @loading {
  <h2>skeleton while network in flight</h2>
  } @error {
  <h2>error</h2>
  }

  <app-projects />
  <app-designs />
  <section class="sc">
    <app-under-construction />
  </section>
  <app-form-order />
</main>
