<main class="pg-main base-ui">
  <app-hero />
  <app-about />
  <app-subscribe />
  <app-development />
  @defer (when blog().items.length) {
  <app-blog
    [latestPost]="vm().blog.items"
    [isFallback]="vm().blog.isFallback"
  />
  } @placeholder {
  <h2>skeleton</h2>
  } @loading {
  <h2>skeleton while network in flight</h2>
  } @error {
  <h2>error</h2>
  } @defer (when projects().items.length) {
  <app-projects [projects]="projects().items" />
  } @placeholder {
  <h2>skeleton</h2>
  } @defer (when designs().items.length) {
  <app-designs [designs]="designs().items" />
  } @placeholder {
  <h2>skeleton</h2>
  }
  <app-form-order />
</main>
