<main class="pg-main">
  <section class="hero">
    <div class="container fl-sbc">
      <div class="avatar fl-cc"><img class="img" src="/img/amfi.svg" alt="amary filo" height="220" width="193" /><img class="bg" src="/img/hexagon.svg" alt="gradient hexagon" height="450" width="400" /></div>
      <div class="info fl-cc fl-dc"><span class="logo ic-amaryfilo t-gr"></span><b class="pos t-u ls">Developer</b>
        <h1 class="name ls t-gr">Amary Filo</h1>
        <div class="sphere fl"><span class="btn m" title="Web develop area">Web</span><span class="btn m" title="Mobile develop area">Mobile</span><span class="btn m" title="Blockchain develop area">Blockchain</span><span class="btn m" title="Design develop area">Design</span></div>
        <div class="social fl"><a class="btn ic-twitter fill t-cw m" href="#" rel="nofollow norefferer" target="blank" title="Open Amary Filo Twitter profile"></a><a class="btn ic-github fill t-cw m" href="#" rel="nofollow norefferer" target="blank" title="Open Amary Filo Github profile"></a><a class="btn ic-behance fill t-cw m" href="#" rel="nofollow norefferer" target="blank" title="Open Amary Filo Behance profile"></a><a class="btn ic-instagram fill t-cw m" href="#" rel="nofollow norefferer" target="blank" title="Open Amary Filo Instagram profile"></a><a class="btn ic-linkedin fill t-cw m" href="#" rel="nofollow norefferer" target="blank" title="Open Amary Filo LinkedIn profile"></a></div>
      </div>
    </div>
  </section>
  <section class="sc head-section about">
    <div class="container info fl-cc fl-dc t-c">
      <h1 class="title ls-2 t-gr ls t-u cl-g-about">Hey, Hello.</h1>
      <p class="text op-7 ls fw-b">I do not know how you got here, but I hope the information will interest you 🥂.<br><br>I am a web, mobile and blockchain developer. I create projects and integrations of varying complexity. I also create various designs, logos and icon fonts. On this site you can find all my work done by me in different areas, as well as a blog with different topics.<br><br></p><a class="cl-g-about btn g-bg w-base g-a" href="#" target="_blank">Who am I?</a>
    </div>
  </section>
  <section class="sc subscribe">
    <div class="container">
      <div class="cd cl-subscribe">
        <div class="head-section fl-bc fl-dc">
          <h2 class="ls t-gr cl-g-subscribe fz-xxl2 fw-800 t-u">Get news!</h2>
          <p class="text op-7">No spam, just new blog posts and updates!</p>
        </div>
        <form class="form">
          <div class="form-group"><input class="cl-subscribe form-input" id="subscribe" type="text" name="email" required="required" placeholder=" " /><label class="form-label" for="subscribe">Your Email</label><a class="btn fill t-cw md" href="#" rel="nofollow norefferer" target="blank" title="Subscribe on news">GO!</a></div>
          <div class="form-text">
            <p class="text">By clicking on the button you agree <br> to <a href="#">the privacy policy </a>and <a href="#">terms of data transfer.</a></p>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="sc development cl-development">
    <div class="container head-section fl-cc fl-dc">
      <h2 class="title ls-2 t-gr ls t-u cl-g-development">Development</h2>
      <p class="text op-7 ls fw-b">For six years, I have been developing applications and sites of various difficulties from landing pages to blockchain and web services.</p>
    </div>
    <div class="container">
      <div class="content">
        <div class="info fl-bc fl-dc">
          <div class="head-title fl-cb cl-g-bluepurple"><span class="btn ic-hash fill t-cw" title="Main"></span>
            <h2 class="title ls-2 t-gr">Main</h2>
          </div>
          <p class="text op-7">The main field of development of web and mobile programming solutions is concentrated in the Frient direction.</p>
        </div>
        <div class="cards">
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">Web</h3>
            <p class="text op-7">Sites, platforms and services on JavaScript or CMS.</p>
          </div>
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">Blockchain</h3>
            <p class="text op-7">Connection of users with blockchain through services.</p>
          </div>
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">Mobile</h3>
            <p class="text op-7">Solutions for creating iOS and Android applications.</p>
          </div>
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">Extensions</h3>
            <p class="text op-7">Development of different open-source solutions.</p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="cards">
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">Layout</h3>
            <p class="text op-7">Fast and high-quality layout of the design sites.</p>
          </div>
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">Optimization</h3>
            <p class="text op-7">Increase in the speed of loading pages and content.</p>
          </div>
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">CEO</h3>
            <p class="text op-7">Search optimization of the site and pages for requests.</p>
          </div>
          <div class="cd cd-base fl-bc fl-dc">
            <h3 class="title fz-nm">Design</h3>
            <p class="text op-7">Development of simple mobile and web designs.</p>
          </div>
        </div>
        <div class="info fl-bc fl-dc">
          <div class="head-title fl-cb cl-g-purplepink"><span class="btn ic-hash fill t-cw" title="Additional"></span>
            <h2 class="title ls-2 t-gr">Additional</h2>
          </div>
          <p class="text op-7">Areas of development that indirectly or directly accompany my implementations in projects.</p>
        </div>
      </div>
    </div>
    <div class="container areas">
      <div class="areas-wrap">
        <div class="container head-section fl-cc fl-dc">
          <h2 class="title ls-2 t-gr ls t-u cl-g-development">Areas</h2>
          <p class="text op-7 ls fw-b">Find more informations about my areas of work.</p>
        </div>
        <div class="areas-cards">
          <div class="area cd cd-area btn-anm bd-h cl-frontend">
            <h3 class="title ls ic fl-cb ic-frontend">Frontend</h3>
            <p class="text op-7">Convenient interfaces, integrations, architecture.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open page about frontend">Open</a>
          </div>
          <div class="area cd cd-area btn-anm bd-h cl-blockchain">
            <h3 class="title ls ic fl-cb ic-blockchain">Blockchain</h3>
            <p class="text op-7">Tokens, smart contracts, connect user accounts.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open page about blockchain">View</a>
          </div>
          <div class="area cd cd-area btn-anm bd-h cl-backend">
            <h3 class="title ls ic fl-cb ic-backend">Backend</h3>
            <p class="text op-7">API, architecture, services, integrations and databases.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open page about backend">More</a>
          </div>
          <div class="area cd cd-area btn-anm bd-h cl-design">
            <h3 class="title ls ic fl-cb ic-design">Design</h3>
            <p class="text op-7">UI/UX, landings, mobile, e-commerce and web pages.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open page about design">Learn</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sc blog">
    <div class="container">
      <div class="head-section fl fl-dc hs-part">
        <h2 class="title ls-2 t-gr ls t-u cl-g-blog">Blog</h2>
        <p class="text op-7 ls fw-b">I enjoy developing products and sharing my experiences. Perhaps you can find useful information.</p>
      </div>
      <article class="landscape"><a class="cd cd-atc fl fl-dc cl-angular " href="#" target="_blank" title="Read article How to work with blockchain">
          <div class="top fl-sbc"><span class="fl ic nm ic-angular"></span><time class="ls op-6" datetime="2022-08-07T19:39:22.000+00:00">aug 07, 2022</time></div>
          <div class="info">
            <h3 class="title">How to work with blockchain</h3>
            <p class="text op-6">Interaction with smart contracts, connecting various user wallets and blockchain networks to the project.</p>
          </div>
        </a></article>
      <article><a class="cd cd-atc fl fl-dc cl-react " href="#" target="_blank" title="Read article How to work with blockchain and smart contracts">
          <div class="top fl-sbc"><span class="fl ic nm ic-react"></span><time class="ls op-6" datetime="2022-08-07T19:39:22.000+00:00">aug 07, 2022</time></div>
          <div class="info">
            <h3 class="title">How to work with blockchain and smart contracts</h3>
            <p class="text op-6">Interaction with smart contracts and setting up the application for loading various blockchain networks.</p>
          </div>
        </a></article>
      <article><a class="cd cd-atc fl fl-dc cl-nodejs " href="#" target="_blank" title="Read article How to work with blockchain">
          <div class="top fl-sbc"><span class="fl ic nm ic-nodejs"></span><time class="ls op-6" datetime="2022-08-07T19:39:22.000+00:00">aug 07, 2022</time></div>
          <div class="info">
            <h3 class="title">How to work with blockchain</h3>
            <p class="text op-6">Connecting various user wallets to the project.</p>
          </div>
        </a></article>
      <article><a class="cd cd-atc fl fl-dc cl-swiftui " href="#" target="_blank" title="Read article How to work with blockchain">
          <div class="top fl-sbc"><span class="fl ic nm ic-swiftui"></span><time class="ls op-6" datetime="2022-08-07T19:39:22.000+00:00">aug 07, 2022</time></div>
          <div class="info">
            <h3 class="title">How to work with blockchain</h3>
            <p class="text op-6">Interaction with smart contracts, connecting various user wallets and blockchain networks to the project.</p>
          </div>
        </a></article>
      <article><a class="cd cd-atc fl fl-dc cl-ionic " href="#" target="_blank" title="Read article How to work with blockchain">
          <div class="top fl-sbc"><span class="fl ic nm ic-ionic"></span><time class="ls op-6" datetime="2022-08-07T19:39:22.000+00:00">aug 07, 2022</time></div>
          <div class="info">
            <h3 class="title">How to work with blockchain</h3>
          </div>
        </a></article>
      <article><a class="cd cd-atc fl fl-dc cl-typescript " href="#" target="_blank" title="Read article How to work with blockchain">
          <div class="top fl-sbc"><span class="fl ic nm ic-typescript"></span><time class="ls op-6" datetime="2022-08-07T19:39:22.000+00:00">aug 07, 2022</time></div>
          <div class="info">
            <h3 class="title">How to work with blockchain</h3>
            <p class="text op-6">Connecting various user wallets to the project.</p>
          </div>
        </a></article><a class="btn btn-pad fl-dc g-bg g-a w-100 cl-g-blog" href="#" target="_blank"><span class="title fl-cc fl-dc fz-md fw-b ic-hash">View all articles</span></a>
    </div>
  </section>
  <section class="sc projects">
    <div class="container cl-project">
      <div class="cards">
        <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc"><a class="link" href="#" title="Open project Rock’n’Block Website" target="_blank">
            <h2 class="title">Rock’n’Block Website</h2>
          </a>
          <p class="text t-ct op-7">Corporate website with a variety of forms, landings and integrations.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open project Rock’n’Block Website">View</a>
        </div>
        <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc"><a class="link" href="#" title="Open project Minto" target="_blank">
            <h2 class="title">Minto</h2>
          </a>
          <p class="text t-ct op-7">Platform for the exchange of BTCMT tokens.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open project Minto">View</a>
        </div>
        <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc"><a class="link" href="#" title="Open project Ducatus Wallet" target="_blank">
            <h2 class="title">Ducatus Wallet</h2>
          </a>
          <p class="text t-ct op-7">Crypto wallet (for web, iOS and android) for the Ducatus blockchain. Server side, API and integrations.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open project Ducatus Wallet">View</a>
        </div>
        <div class="cd cd-pj bd-h bd-t btn-anm cd-bg fl fl-dc"><a class="link" href="#" title="Open project AMFI Connect" target="_blank">
            <h2 class="title">AMFI Connect</h2>
          </a>
          <p class="text t-ct op-7">Connecting various wallets (browser, mobile), working with blockchain and smart contracts.</p><a class="btn fill t-cw" href="#" rel="nofollow norefferer" target="blank" title="Open project AMFI Connect">View</a>
        </div>
      </div>
      <div class="head-section fl-bc fl-dc hs-part">
        <h2 class="title ls-2 t-gr ls t-u cl-g-project">Projects</h2>
        <p class="text op-7 ls fw-b">Recent completed projects in the areas of blockchain, frontend and backend.</p><a class="cl-g-project btn g-bg w-base g-a" href="#" target="_blank">View projects</a>
      </div>
    </div>
  </section>
  <section class="sc design">
    <div class="container">
      <div class="head-section fl-bc fl-dc hs-part">
        <h2 class="title ls-2 t-gr ls t-u cl-g-design">Design</h2>
        <p class="text op-7 ls fw-b">I enjoy developing products and sharing my experiences. Perhaps you can find useful information.</p>
      </div><a class="cl-design cd cd-ds bd-h btn-anm" href="#" target="_blank" title="Open design Moovie">
        <picture class="img fl fl-dc">
          <source type="image/webp" srcset="img/design-1.webp" /><img loading="lazy" src="img/design-1.png" alt="Thumbnail of Amary Filo Moovie design" />
        </picture>
        <h3 class="btn fill t-cw" title="Open design Moovie">Moovie</h3>
      </a><a class="cl-design cd cd-ds bd-h btn-anm" href="#" target="_blank" title="Open design Clothing store prototype">
        <picture class="img fl fl-dc">
          <source type="image/webp" srcset="img/design-2.webp" /><img loading="lazy" src="img/design-2.png" alt="Thumbnail of Amary Filo Clothing store prototype design" />
        </picture>
        <h3 class="btn fill t-cw" title="Open design Clothing store prototype">Clothing store prototype</h3>
      </a><a class="cl-design cd cd-ds bd-h btn-anm" href="#" target="_blank" title="Open design Minimalistic personal website design">
        <picture class="img fl fl-dc">
          <source type="image/webp" srcset="img/design-3.webp" /><img loading="lazy" src="img/design-3.png" alt="Thumbnail of Amary Filo Minimalistic personal website design design" />
        </picture>
        <h3 class="btn fill t-cw" title="Open design Minimalistic personal website design">Minimalistic personal website design</h3>
      </a><a class="cl-design cd cd-ds bd-h btn-anm" href="#" target="_blank" title="Open design Minimal landing page for studios">
        <picture class="img fl fl-dc">
          <source type="image/webp" srcset="img/design-4.webp" /><img loading="lazy" src="img/design-4.png" alt="Thumbnail of Amary Filo Minimal landing page for studios design" />
        </picture>
        <h3 class="btn fill t-cw" title="Open design Minimal landing page for studios">Minimal landing page for studios</h3>
      </a><a class="btn btn-pad fl-dc w-100 g-bg g-a cl-g-design" href="#" target="_blank"><span class="title fl-cc fl-dc fz-md fw-b ic-brush">View all designs</span></a>
    </div>
  </section>
  <section class="sc form">
    <div class="container">
      <form class="form cl-order">
        <div class="form-group"><input class="cl-order form-input" id="username" type="text" name="username" required="required" placeholder=" " /><label class="form-label" for="username">Your Name</label></div>
        <div class="form-group"><select class="form-select" id="project-type" name="project-type">
            <option value="blockchain">Blockchain</option>
            <option value="nft">NFT</option>
            <option value="swap">Swap</option>
            <option value="template">Template</option>
            <option value="cms">CMS</option>
            <option value="custom">Custom</option>
          </select><label class="form-label" for="project-type">Project Type</label></div>
        <div class="form-group"><select class="form-select" id="contact-type" name="contact-type">
            <option value="telegram">Telegram</option>
            <option value="email">Email</option>
          </select><label class="form-label" for="contact-type">Contact Type</label></div>
        <div class="form-group"><input class="cl-order form-input" id="contact" type="text" name="contact" required="required" placeholder=" " /><label class="form-label" for="contact">Your Contact</label></div>
        <div class="form-group"><textarea class="cl-order form-textarea" id="description" name="description" cols="30" rows="5" placeholder=" "></textarea><label class="form-label" for="description">Description</label></div>
        <div class="form-group">
          <div class="check"><input class="checkbox" type="checkbox" id="design" name="design" value="design" /><label class="label op-7" for="design">I have a design</label></div>
          <div class="check"><input class="checkbox" type="checkbox" id="smart-contracts" name="smart-contracts" value="smart-contract" /><label class="label op-7" for="smart-contracts">I have smart contracts</label></div>
          <div class="check"><input class="checkbox" type="checkbox" id="backend" name="backend" value="backend" /><label class="label op-7" for="backend">I have a server</label></div>
          <div class="check"><input class="checkbox" type="checkbox" id="api" name="api" value="api" /><label class="label op-7" for="api">I have a REST/GraphQl API</label></div>
        </div>
        <div class="form-btn"><a class="btn g-bg w-100 g-a cl-g-order" href="#" target="_blank">Submit order</a>
          <div class="form-text">
            <p class="text">By clicking on the button you agree <br> to <a href="#">the privacy policy </a>and <a href="#">terms of data transfer.</a></p>
          </div>
        </div>
      </form>
      <div class="head-section fl-bc fl-dc hs-part">
        <h2 class="title ls-2 t-gr ls t-u cl-g-order">Order</h2>
        <p class="text op-7 ls fw-b">Compose your application for the development of your own project. <br> <br> Perhaps you already have a design, smart contracts and backend, or perhaps you need to create everything anew.</p>
      </div>
    </div>
  </section>
</main>