@use "../../../../styles/mixins/mixins.scss" as mx;

.warn {
  background-image: url(/assets/img/bg.svg);
  background-size: 41px;
  border-top: 2px solid #d0d0d08c;
  border-bottom: 2px solid #d0d0d08c;
  padding: 15px 0px;

  .content {
    border: mx.rem(4) dashed var(--cl-main);
    background-color: rgba(var(--body-bg-color-rgb), 1);

    .title {
      font-weight: 800;
    }
  }
}
