<div class="sandbox-ui">
  <div class="row-b">
    <sbx-balances-component />
  </div>
  <div class="row-text">
    <h2 class="h1">Farming</h2>
    <p class="text text-secondary">
      This page shows how yield farming works on the Ethereum Sepolia testnet.
      Here you can stake your LP tokens (from AST/APT or AST/WETH pools) to earn
      APT rewards over time. It demonstrates the core DeFi mechanic: providing
      liquidity, staking LP, and harvesting earned tokens.
    </p>
  </div>

  <!-- Common Information -->
  <sbx-row-title-content
    main-title="Common Information"
    text="Everything about Tokens and Contracts"
    [useStatus]="false"
  >
    <div class="row-line row-sbc row-b">
      <sbx-accordion-component
        [title]="'How it works?'"
        [text]="'What you can get and what you need to do'"
        [bottomText]="'You can click Harverst button to get your APT Tokens.'"
      >
        <div class="text-secondary" accordionContent>
          <b>Deposit LP Tokens</b> - stake your LP/AA or LP/AW tokens to start
          earning APT rewards.
          <br />
          <br />
          <b>Farm info:</b>
          <ul>
            <li>
              RPS (Reward per Second) — shows how many APT tokens are
              distributed every second across all farmers. The higher this
              value, the faster rewards accumulate.
            </li>
            <li>
              Pending - your unclaimed APT rewards. This number grows in real
              time while your LP tokens are staked. You can harvest it anytime.
            </li>
            <li>
              Staked LP - the amount of LP tokens you’ve deposited into the
              farm. The more LP you stake, the bigger your share of the total
              rewards.
            </li>
          </ul>
          <br />
          <b>Functionality:</b>
          <ul>
            <li>
              Withdraw - remove your LP tokens anytime; your rewards stay safe.
            </li>
            <li>Harvest - claim your accumulated APT without unstaking.</li>
          </ul>
          <br />
          <b>What it gives:</b>
          <br />
          You earn APT passively for supporting liquidity in the ecosystem. The
          longer you keep LP tokens staked — the more rewards you collect.
        </div>
      </sbx-accordion-component>
    </div>
  </sbx-row-title-content>

  <!-- Form -->
  <sbx-row-title-content
    mainTitle="Farming"
    text="Stake your AST/APT LP to earn APT rewards."
  >
    <ui-farming-summary />
    <ui-farming-form />
  </sbx-row-title-content>
</div>
