<section class="sc form">
  <div class="container">
    <form class="form cl-order">
      <div class="form-group">
        <input
          class="cl-order form-input"
          id="username"
          type="text"
          name="username"
          required="required"
          placeholder=" "
        /><label class="form-label" for="username">Your Name</label>
      </div>
      <div class="form-group">
        <select class="form-select" id="project-type" name="project-type">
          <option value="blockchain">Blockchain</option>
          <option value="nft">NFT</option>
          <option value="swap">Swap</option>
          <option value="template">Template</option>
          <option value="cms">CMS</option>
          <option value="custom">Custom</option></select
        ><label class="form-label" for="project-type">Project Type</label>
      </div>
      <div class="form-group">
        <select class="form-select" id="contact-type" name="contact-type">
          <option value="telegram">Telegram</option>
          <option value="email">Email</option></select
        ><label class="form-label" for="contact-type">Contact Type</label>
      </div>
      <div class="form-group">
        <input
          class="cl-order form-input"
          id="contact"
          type="text"
          name="contact"
          required="required"
          placeholder=" "
        /><label class="form-label" for="contact">Your Contact</label>
      </div>
      <div class="form-group">
        <textarea
          class="cl-order form-textarea"
          id="description"
          name="description"
          cols="30"
          rows="5"
          placeholder=" "
        ></textarea
        ><label class="form-label" for="description">Description</label>
      </div>
      <div class="form-group">
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="design"
            name="design"
            value="design"
          /><label class="label op-7" for="design">I have a design</label>
        </div>
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="smart-contracts"
            name="smart-contracts"
            value="smart-contract"
          /><label class="label op-7" for="smart-contracts"
            >I have smart contracts</label
          >
        </div>
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="backend"
            name="backend"
            value="backend"
          /><label class="label op-7" for="backend">I have a server</label>
        </div>
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="api"
            name="api"
            value="api"
          /><label class="label op-7" for="api"
            >I have a REST/GraphQl API</label
          >
        </div>
      </div>
      <div class="form-btn">
        <a class="btn g-bg w-100 g-a cl-g-order" href="#" target="_blank"
          >Submit order</a
        >
        <div class="form-text">
          <p class="text">
            By clicking on the button you agree <br />
            to <a href="#">the privacy policy </a>and
            <a href="#">terms of data transfer.</a>
          </p>
        </div>
      </div>
    </form>
    <div class="head-section fl-bc fl-dc hs-part">
      <h2 class="title ls-2 t-gr ls t-u cl-g-order">Order</h2>
      <p class="text op-7 ls fw-b">
        Compose your application for the development of your own project.
        <br />
        <br />
        Perhaps you already have a design, smart contracts and backend, or
        perhaps you need to create everything anew.
      </p>
    </div>
  </div>
</section>
