<section class="sc form">
  <div class="container">
    <form class="form cl-order">
      <div class="form-group">
        <input
          class="cl-order form-input"
          id="username"
          type="text"
          name="username"
          required="required"
          placeholder=" "
        />
        <label class="form-label" for="username">{{
          "form.order.name" | t
        }}</label>
      </div>
      <div class="form-group">
        <select class="form-select" id="project-type" name="project-type">
          <option value="blockchain">Blockchain</option>
          <option value="nft">NFT</option>
          <option value="swap">Swap</option>
          <option value="template">Template</option>
          <option value="cms">CMS</option>
          <option value="custom">Custom</option>
        </select>
        <label class="form-label" for="project-type">{{
          "form.order.project" | t
        }}</label>
      </div>
      <div class="form-group">
        <select class="form-select" id="contact-type" name="contact-type">
          <option value="telegram">Telegram</option>
          <option value="email">Email</option>
        </select>
        <label class="form-label" for="contact-type">{{
          "form.order.contact.title" | t
        }}</label>
      </div>
      <div class="form-group">
        <input
          class="cl-order form-input"
          id="contact"
          type="text"
          name="contact"
          required="required"
          placeholder=" "
        />
        <label class="form-label" for="contact">{{
          "form.order.contact" | t
        }}</label>
      </div>
      <div class="form-group">
        <textarea
          class="cl-order form-textarea"
          id="description"
          name="description"
          cols="30"
          rows="5"
          placeholder=" "
        ></textarea>
        <label class="form-label" for="description">{{
          "form.order.text" | t
        }}</label>
      </div>
      <div class="form-group">
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="design"
            name="design"
            value="design"
          />
          <label class="label op-7" for="design">{{
            "form.order.design" | t
          }}</label>
        </div>
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="smart-contracts"
            name="smart-contracts"
            value="smart-contract"
          />
          <label class="label op-7" for="smart-contracts">
            {{ "form.order.contracts" | t }}
          </label>
        </div>
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="backend"
            name="backend"
            value="backend"
          />
          <label class="label op-7" for="backend">{{
            "form.order.server" | t
          }}</label>
        </div>
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            id="api"
            name="api"
            value="api"
          />
          <label class="label op-7" for="api">{{ "form.order.api" | t }}</label>
        </div>
      </div>
      <div class="form-btn">
        <a class="btn g-bg w-100 g-a cl-g-order" href="#" target="_blank">
          {{ "form.order.button" | t }}
        </a>
        <div class="form-text">
          <p class="text">
            {{ "form.info.one" | t }}<br />
            {{ "form.info.two" | t }}
            <a href="#">{{ "form.info.privacy" | t }}</a>
            {{ "form.info.three" | t }}
            <a href="#">{{ "form.info.terms" | t }}</a>
          </p>
        </div>
      </div>
    </form>
    <div class="head-section fl-bc fl-dc hs-part">
      <h2 class="title ls-2 t-gr ls t-u cl-g-order">
        {{ "form.order.title" | t }}
      </h2>
      <p
        class="text op-7 ls fw-b"
        [innerHTML]="'form.order.description' | t"
      ></p>
    </div>
  </div>
</section>
