<section class="u-container">
  <div class="content">
    <div class="u-section-head">
      <h2 class="ui-text-heading-1">Technical Demos</h2>
      <p class="text ui-text-paragraph-extra-large-medium u-text-muted">
        Live environments demonstrating code structure, Web3 mechanics, and Enterprise UI
        capabilities.
      </p>
      <button
        ui-button
        iconOnly
        icon="arrowRightUpLine"
        pill
        size="extra-lg"
        variant="secondary"
        routerLink="/demos"
      ></button>
    </div>

    <demo-list [list]="list" />
  </div>
</section>
