<section class="u-container">
  <div class="content">
    <div class="u-section-head">
      <h2 class="ui-text-heading-1">Technical Demos</h2>
      <p class="text ui-text-paragraph-extra-large-medium u-text-muted">
        Technical demos that show product flows, smart contract integration, reusable UI patterns,
        and frontend structure in practice.
      </p>
      <button
        ui-button
        iconOnly
        icon="arrowRightUpLine"
        pill
        size="extra-lg"
        variant="secondary"
        routerLink="/demos"
      ></button>
    </div>

    <demo-list [list]="list" />
  </div>
</section>
