@use "../../../../styles/mixins/mixins.scss" as mx;
// @use '../../../../node_modules/highlight.js/scss/base16/solarized-dark';

// page
.pg-article {
  .article [id] {
    scroll-margin-top: 80px;
  }

  .article-content {
    margin-top: mx.rem(100);
    @include mx.b(tablet) {
      margin-top: mx.rem(20);
    }

    .container {
      max-width: mx.rem(1100);

      display: grid;
      grid-template-columns: mx.rem(290) minmax(mx.rem(500), 1fr);
      grid-gap: mx.rem(30);

      @include mx.b(desktop) {
        max-width: mx.rem(700);
        grid-template-columns: 1fr;
      }
    }
  }

  .adv {
    margin-bottom: mx.rem(30);
  }

  .aside {
    position: sticky;
    top: mx.rem(80);

    padding-right: mx.rem(40);

    grid-column: 1;
    grid-row: 1/3;

    max-height: calc(100vh - 80px);

    @include mx.b(desktop) {
      grid-row: 2;
      padding: 0;
      position: relative;
      top: 0;
    }

    nav {
      line-height: 1.75;
      font-family: var(--title-font);
      transition: 0.2s ease-in-out;
      overflow: hidden;

      &.open {
        height: max-content;
      }

      @include mx.b(desktop) {
        height: mx.rem(52);
        border: mx.rem(3) solid rgba(173, 173, 173, 0.1);
        border-radius: mx.rem(15);
        padding: 0 mx.rem(30) mx.rem(30) mx.rem(30);
      }

      a {
        display: block;
      }

      .title {
        max-width: max-content;
        font-size: mx.rem(15);
        margin-top: mx.rem(5);
        font-weight: 800;
        color: var(--bg-text-color);
        opacity: 0.75;

        &:hover {
          opacity: 1;
          color: var(--cl-main);
        }

        &-head {
          margin-bottom: mx.rem(10);
          font-size: mx.rem(18);

          @include mx.b(desktop) {
            padding: mx.rem(10) mx.rem(30);
            border-radius: mx.rem(10);
            background-color: rgba(173, 173, 173, 0.1);
            margin: 0 mx.rem(-30) mx.rem(20) mx.rem(-30);
          }
        }

        &.active {
          color: var(--cl-main, var(--cl-cmain));
          @include mx.theme("dark", true) {
            color: var(--cl-main, var(--cl-caccent));
          }
        }
      }

      .subnav {
        border-left: mx.rem(1.5) solid var(--accent-gray-color);
        padding-left: mx.rem(15);
        margin: mx.rem(10) mx.rem(10) mx.rem(10);

        .title {
          margin-top: mx.rem(5);
          font-size: mx.rem(14);
          font-weight: 700;
        }
      }
    }
  }

  #article-nav {
    position: relative;
  }

  article {
    position: relative;
  }

  .scroll-top {
    --btn-bgc-rgb: var(--cl-main-rgb);
    --btn-bgc-opacity: 0.7;
    --btn-bgc-opacity-hover: 0.9;
    --btn-text-color: 255, 255, 255;
    --btn-padding: #{mx.rem(7)} #{mx.rem(15)};

    position: fixed;
    bottom: mx.rem(20);
    right: mx.rem(20);
    cursor: pointer;
    box-shadow: 0 mx.rem(6) mx.rem(16) rgba(0, 0, 0, 0.25);
    z-index: 999;
  }

  .article {
    grid-column: 2;
    padding: mx.rem(50);
    overflow: hidden;

    @include mx.b(desktop) {
      grid-column: 1;
      grid-row: 3;
    }
    @include mx.b(550) {
      padding: mx.rem(30) mx.rem(20);
      border-radius: mx.rem(15);
    }

    &-nav {
      position: relative;
      @include mx.b(desktop) {
        display: block;
      }

      .title-head {
        @include mx.b(desktop) {
          cursor: pointer;
        }
      }

      &-open {
        position: absolute;
        right: 10px;
        top: 10px;
        display: none;

        @include mx.b(desktop) {
          display: block;
        }
      }
    }

    &-main {
      grid-column: 2;
      grid-row: 1;

      padding: mx.rem(4);
      border-radius: mx.rem(35);

      background-image: linear-gradient(
          var(--body-bg-color),
          var(--body-bg-color)
        ),
        radial-gradient(
          circle at top left,
          var(--cl-main, #698ea8),
          var(--cl-main, #9adffa)
        );
      background-clip: content-box, border-box;
      box-shadow: 0 mx.rem(8) mx.rem(16) 0 rgba(var(--cl-blog-rgb), 0.2);

      @include mx.b(desktop) {
        grid-column: 1;
      }

      @include mx.theme("dark", true) {
        background-image: linear-gradient(
            var(--body-bg-color),
            var(--body-bg-color)
          ),
          radial-gradient(
            circle at top left,
            var(--cl-main, #dbaa6a),
            var(--cl-main, #eddbc3)
          );
        box-shadow: 0 mx.rem(8) mx.rem(16) 0 rgba(237, 219, 195, 0.2);
        background-clip: content-box, border-box;
      }

      h1 {
        margin-bottom: mx.rem(15);
        color: var(--cl-main, var(--cl-cmain));

        @include mx.theme("dark", true) {
          color: var(--cl-main, var(--cl-caccent));
        }
      }

      .desc {
        font-size: mx.rem(20);
        font-family: var(--text-font);
        line-height: 1.5;
        font-weight: normal;
      }

      .links {
        .btn {
          --btn-bgc-opacity: 0.6;
          --btn-bgc-opacity-hover: 1;
          --btn-bgc-opacity-active: 0.8;

          margin-top: mx.rem(20);
          font-size: mx.rem(20);
          color: #fff;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
