@use 'styles/mixins' as mx;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--ui-spacing-lg);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--ui-spacing-md);
  width: 100%;
  padding: var(--ui-spacing-sm) var(--ui-spacing-md);
  border-radius: var(--ui-radius-xl);
  border: var(--ui-border-1) solid var(--ui-sem-border-2);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--ui-spacing-xs);
  padding: var(--ui-spacing-sm) var(--ui-spacing-lg);
  border-radius: var(--ui-radius);
  border: var(--ui-border-1) solid var(--ui-sem-border-1);
  background-color: var(--ui-sem-accent-0);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--ui-spacing-2xs);
  @include mx.ui-text('paragraph-small-medium');

  span:last-child {
    text-align: right;
  }
}

.info-row {
  height: 20px;
  width: 100%;
  border-radius: var(--ui-radius-sm);
  background: var(--ui-sem-border-1);
  opacity: 0.6;
}

.empty-text {
  min-height: 30px;
  color: rgb(var(--ui-sem-destructive-rgb));
}

.title {
  font-weight: var(--ui-fw-semibold);
}
