@use 'styles/mixins' as mx;

.list {
  display: flex;
  flex-direction: column;
  gap: var(--ui-spacing-sm);

  @include mx.down(mobile) {
    gap: var(--ui-spacing-xs);
  }
}

.list-title {
  margin: var(--ui-spacing-4xl) 0 var(--ui-spacing-2xl) 0;

  @include mx.down(mobile) {
    margin: var(--ui-spacing-2xl) 0 var(--ui-spacing-xl) 0;
  }
}

.item {
  max-width: max-content;
  padding: var(--ui-spacing-md) var(--ui-spacing-lg);
  font-weight: var(--ui-fw-medium);
  border-radius: var(--ui-radius-xl);
  background-color: var(--ui-sem-accent-0);
  color: var(--ui-sem-muted-fg);

  @include mx.down(mobile) {
    padding: var(--ui-spacing-sm) var(--ui-spacing-md);
  }
}
