@use "../../styles/mixins" as mx;
@use "../../styles/sandbox";

.benefit-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 15px 20px;

  @include mx.b(650) {
    padding: 10px 15px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 5px;
    width: max-content;
  }
}
